
body {
    background-color: beige;
}

.header {
	color: white;
	background-color: black;
	font-size: 20px;
	text-align: center;
    padding: 15px;
}

.textbox-left {
  display: flex;
  height: 300px; /* Or whatever */
}

h3, img, .bio {
  width: 100px;  /* Or whatever */
  height: 100px; /* Or whatever */
  margin: auto;  /* Magic! */
}
}

.bio {
    display: table-cell;
    padding-left: 10px;
}

.textbox-right {
    display: flex;
    flex-direction: column;
}

/*

.textboxes {
    float: left;
    width: 48%;
    margin: 1%;
}
.contactinfo {
    word-break: break-all;
}

.bio {
	display: table-cell;
}

*/