* {
    box-sizing: border-box;
}

body {
    /* background-image: url("../images/naturalblack.png"); */
    /* box-sizing: 960px; */
}

.header:after {
  content: "";
  display: table;
  clear: both;
  background-color: #ffffff;
}

.header {
  border: solid 1px blue;
}

.maincontentfield:after {
  content: "";
  display: table;
  clear: both;
  background-color: #ffffff;
}

.maincontentfield {
  border: solid 5px #dddddd;
  width: 960px;
  margin: 0 auto;
}

.textboxleft {
  float: left;
  background-color: #4aaaa5;
  color: #777777;
}

.aboutmebox {
  float: left;
  width: 650px;
  margin-right: 48px;
}

.aboutme {
  color: #4aaaa5;
}

.connectwithmebox {
  float: left;
}

.connectwithmebox {
  border: solid 1px green;
}

.connectwithme {
  color: #4aaaa5;
  border-bottom: 1px solid gray;
}

.nav {
  display: inline-block;
}

.navmenu {
  float: right;
}

footer {
  position: fixed;
  bottom: 0;
  clear: both;
  width: 100%;
  border-top: 5px solid teal;
  background-color: #666666;
}